@page "/artists"
@rendermode InteractiveServer
@using ChinookLibrary.Models


<br/>
<h3>Artists:</h3>

<textarea style="width: 600px; min-height: 300px">
    @foreach (var a in DbUtility.getArtists()) 
        {
            @($"{a}\n")
        }
</textarea>